body{
    
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png);
    
    font-size: 8pt;
    font-family: "Verdana", "Tahoma", sans-serif;
    margin: 0px;

}

#banner{
    text-align: center;
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png);
}

h1{
    font-size: 24pt;
    font-family: "Verdana", "Tahoma", sans-serif;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

#border{
    display: flex;
    align-items:center;
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png);
    background-repeat: repeat-x; 
    margin-bottom: 8pt;
 
}

.section{
    float: right;
    width: 250px;
    background-color: #A2B964;
    font-family: Arial, sans-serif; 
}

#number{
    color: red;
    font-size: 48pt;
    font-weight: bold;
    
}

.section dt {
    font-weight: bold;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-bottom: 2.5pt;
}


#border-img{
    height:83px;
}

.content{
    border: 4px solid #999999;
    width: 800px;
    border-radius: 25px;
    overflow: hidden;
    margin-left: auto;
    margin-right:auto;  
    
}

#rotten{
   width: 550px;
           
}

.second-column{
    width: 47%;
    float:left;
    margin-left: 2%;
    margin-right: 2%;
}

.first-column{
    width: 47%;
    float:left;
    margin-left: 2%;
}


.review{
    overflow: hidden;
    border: 2px solid #999999;
    border-radius: 10px;
    background-color: #E8DC9B;
    padding: 8px;
    font-weight: bold;
    font-size: 8pt;
    margin-bottom: 8pt;
}

.review img{
    float:left; 
    margin-right:5px;
}

.author{
    margin-bottom: 20pt;
}

.author img{
    float:left;
    margin-right:5px
}

.publisher{
    font-family: cursive;
}

#num-pag{
    clear:right;
    text-align: center;
    background-color: #A2B964;
    padding: 2.5px;
}

#validator{
    opacity: 0.5;
    position:fixed;
    left: 95%;
    bottom: 0%
}

dd ul{
    padding:0px;
    margin-top: 0pt;
    list-style-type: none;
}
