body{
    font-size: 14pt;
    font-style: italic;
    text-align: center;
}

#puzzlearea{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   width: 400px;
   background-repeat: round; 
}

.default{
    background-image: url(https://static1.squarespace.com/static/5019e5e1e4b06e3a57e30958/t/58587f579f7456ee53f904d4/1482194778288/);
    position: absolute;
    border: 5px solid black;
    height: 90px;
    width: 90px;
    font-size: 40pt;
    line-height: 90px;
}

.redborders:hover{
  color: red;
  border-color: red;
}  



