#banner{
    background-image:url(banner-background.png);
    background-repeat:round;
    padding: 8pt;
}


#w3c{
    background-image:url(banner-background.png);
    background-repeat:round;
    padding: 8pt;
}

#title{
    color: white;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

body{
    font-family: Verdana, sans-serif;
    background-color: #dad9d4;
}

#frame{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


input{
    margin-right: 2pt;
}

fieldset{
    width: 24em;
    display: inline;
    text-align: left;
    margin-bottom: 16pt;
}

fieldset div{
    text-align: center;
}

#main {
   text-align: center;
}

tr:nth-child(even) {
    background-color: #e2e1dd;
}

table{
    border: 2px solid #e2e1dd;
    width: 40%; margin: auto;
    margin-bottom: 16pt;
}
