<div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anteprima Annuncio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="title_announce">Titolo</div>
                <div id="inner_container">
                    <div id="carousel_announce" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel_image"><img id="img1" class="d-block w-100" src="../img/" alt="Prima immagine"></div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel_image"><img id="img2" class="d-block w-100" src="../img/" alt="Seconda immagine"></div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel_image"><img id="img3" class="d-block w-100" src="../img/" alt="Terza Immagine"></div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel_announce" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel_announce" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div id="profile_container">
                        <div id="info_profile">
                            <div class="title">Dati Annuncio</div>
                            <div class ="field_profile">Username: <span id="username" class="data"></span></div>
                            <div class ="field_profile">Mail: <span id="mail" class="data"></span></div>
                            <div class ="field_profile">Telefono: <span id="telefono" class="data"></span></div>
                            <div class ="field_profile">Regione: <span id="region" class="data"></span></div>
                            <div class ="field_profile">Categoria: <span id="category" class="data"></span></div>
                        </div>
                    </div>
                </div>
                <div id="information_container">
                    <div id="prezzo">

                    </div>
                    <div id="descrizione">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div> 
