</div>   
<div class="footer">
    <dl class="footer_component">
        <dd class="title_footer">Link Veloci</dd>
        <dd><a href="search.php?search_text=&region=all&category=all&page=0">Annunci recenti</a></dd>
        <dd><a href="http://localhost/Tweb/src/my_announcements.php">Il mio Profilo</a></dd>
        <dd><a href="http://localhost/Tweb/src/my_announcements.php">I miei annunci</a></dd>
    </dl>
    <dl class="footer_component">
        <dd class="title_footer">About Us</dd>
        <dd><a href="info.php?info=1">Chi siamo</a></dd>
        <dd><a href="info.php?info=1">Lavora con Noi</a></dd>
        <dd><a href="info.php?info=1">Contattaci</a></dd>
    </dl>
    <dl class="footer_component">
        <dd class="title_footer">Aiuto</dd>
        <dd><a href="info.php?info=2">Condizioni generali d'uso</a></dd>
        <dd><a href="info.php?info=2">Responsabilità</a></dd>
        <dd><a href="info.php?info=2#support">Supporto</a></dd>
    </dl>
    <div id="logo">
        <img src ="../img/house.ico" alt="logo sito">
        <div>Men A' Deliver</div>
    </div>
</div>
