<form action="search.php" method="GET">
    <div class = "menu_search_bar">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Digita qualcosa" name='search_text'>
            <select class="custom-select" name='region'>
                <option value='all'>Tutte le Regioni</option>
                <option>Piemonte</option>
                <option>Val d'Aosta</option>
                <option>Lombardia</option>
                <option>Trentino Alto-Adige</option>
                <option>Friuli-Venezia Giulia</option>
                <option>Liguria</option>
                <option>Veneto</option>
                <option>Emilia-Romagna</option>
                <option>Toscana</option>
                <option>Marche</option>
                <option>Umbria</option>
                <option>Lazio</option>
                <option>Abruzzo</option>
                <option>Molise</option>
                <option>Campania</option>
                <option>Puglia</option>
                <option>Basilicata</option>
                <option>Calabria</option>
                <option>Sicilia</option>
                <option>Sardegna</option>
            </select>
            <select class="custom-select" name='category'>
                <option value='all'>Tutte le Categorie</option>
                <option>Elettronica</option>
                <option>Automobili</option>
                <option>Videogiochi</option>
                <option>Telefonia</option>
                <option>Musica</option>
                <option>Sport</option>
                <option>Computer</option>
                <option>Per la Casa</option>
            </select>
            <input type="text" class="form-control" name='page' hidden value='0'>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Cerca</button>
            </div>
        </div>
    </div>
</form>