#goto{
    word-spacing: 0.5em;
}


h2 {
    padding: 0px;
    color: #A4A400;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif; 
    text-decoration: underline;
    font-size: 18pt;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0.25em;
}


body{
    color: #404040;
    background-color: white;
    font-size: 11pt;
    font-family:cursive, Georgia, Garamond, serif;
    background-image: url(2Unito-logo.png);
    background-size: 200px 200px;
    background-attachment: fixed;
    min-width: 1024px;
}


h1{
    color: #A4A400;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

.Title{
    background-color: #F0F0F0;
}

#myImg {
    height: 240px;
    width: 240px;
}


#competenze{
    list-style-image: url(apple.png);
    line-height: 2.0em;
    
}

#test{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

#hidden-block {
    flex: 20%;
    width: 20%;
}


ol{
    line-height: 2.0em;
}
dd{
    line-height: 1.55em;
}

dt{
    line-height: 2.55em;
}