h1 {
  
    font-size:66pt;
    text-align: center;
    color: white;
    background-color: #B22222;
    font-family: cursive, sans-serif;
}

.back{
    background-size: 300px 140px;
    background-color: #B22222;
    
}

.back a{
    text-decoration: none;
    color: white;
}
h3 {
    font-family: cursive, Arial, sans-serif;
    font-size: 18pt;
    color: ivory;
    font-weight: bold;
    
}
body{
    font-size: 20pt;
    letter-spacing: 0.05em;
    min-width: 1024px;
    
}

h3 span{
    background-color:#B22222;
    
}


.cit{

  font-size: 46pt;
    text-align: center;
}

#test{
    display: flex;
    align-items: center;
    
}

#Title {
    font-size: 86pt;
    text-align: center;
    background-color: #B22222;
    font-family: cursive, sans-serif;
    color: ivory;
}