#container{
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
}

#inner_container{
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
}


.card-img-top{
    max-height: 200px;
    max-width: 200px;
    padding: 10px;
}

#img_container{
    text-align: center;
}
li{
    text-align: center;
}
h5{
    color: #5682a3;
}

.field_profile{
    color: #5682a3;
}

li div{
    margin-top: 10px;
}

#column2{
    width: 50%;
    align-self: flex-start;
}

.nav-link{
    cursor: pointer;
}

.card{
    margin-top: 66px;
    margin-bottom: 56px;
}
nav{
    margin-top: 10px;
}

.btn-link{
    font-size: 12.5px !important;
}

.btn-link, .link_view{
    color: #5682a3;
}