#container{
    width: 1000px;
    margin: auto;
    background-color: white;
}

#inner_container{
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    min-height: 800px;
}


#notification_menu{
    width: 35%;
}

.notification_element{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    padding:8px;
    background-color: #fefefe;
    border: 1px solid #d9d9d9;
}


#first{
    border-top: 1px solid #d9d9d9;
}

#see_notification{
    width: 50%;
    background-color: #fbfbfb;
    padding: 16px;
    border-radius: 5px;
}


.username{
    margin-right: 8px;
    color: #2eb8b8;
}

.azione{
    color: #ff3333;
}

.notification_element:hover{
    border: 1px solid red !important;
}

