#container{
    width: 1000px;
    margin: auto;
    background-color: white;
}


#inner_container{
    margin-left:auto;
    margin-right:auto;
    width: 800px;
}

#search_result{
    text-align: center;
}

#search_result{
    padding: 16px;
    font-size: 18px;
}

.result_field{
    color: #5682a3;
}

ul{
    margin: 0px;
    padding: 10px;
}

.pagination li a{
    color: #5682a3 !important;
}

.pagination li.active a{
    background-color: #5682a3 !important;
    color: white !important;
}

#page_number{
    padding: 8px;
}

#no_announcement{
    padding: 8px;
}

.link_view{
    color: #5682a3;
}