#snackbar {
    visibility: hidden; 
    background-color: #333;
    color: #fff; 
    min-width: 1000px;
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 7.5s;
    animation: fadein 0.5s, fadeout 0.5s 7.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 0; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}