<div id="container">
    <div id ='inner_container'>
        <div>
            <img id="img_error" src="../View/error/Error.jpg" alt="image error">
        </div>
        <div id="text_container">
            <div id="error_title">500 Internal Server Error</div>
            <div>Ci scusiamo per il disagio. Torna alla <a href="index.php">Homepage</a></div>
        </div>
    </div>
</div>