<div id="container">
    <div id ='inner_container'>
        <div>
            <img id="img_error" src="../View/error/Error.jpg" alt="image error">
        </div>
        <div id="text_container">
            <div id="error_title">Annuncio non trovato</div>
            <div>L'annuncio cercato non è stato trovato oppure è stato eliminato. Ritorna alla <a href="index.php">Homepage</a></div>
        </div>
    </div>
</div>